nav {
    margin-left: 2%;
    margin-right: 2%;
    height: 120px;
    border-bottom: 1px solid black;
    position: sticky;
    top: 0px;
    background-color: whitesmoke;
}

.titulo {
    font-size: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.subtitulo {
    font-size: 20px;
    opacity: 90%;
    color: gray;
    font-style: italic;
}

.barra  {
    margin-top: 5px;
    border-top: 2px solid black;
    padding-top: 6px;
}

.barra span {
    margin-right: 20%;
    padding: 4px;
    border-left: 1px solid gray;
}

article div{
    min-height: 500px;
    max-height: 1000px;
    float: left;
    width: 33%;
    overflow-x: hidden;
    overflow-y: auto;
}

.article-img {
    width: 225px;
    height: auto;
    float: left;
}

.b-volver{
    position:fixed ;
    bottom: -45%;
    left: 95%;
    padding: 5px;
}

.b-volver img {
    height:30px;
    width:30px;
}